{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmes e Series</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <h1>Filmes e séries assistidos</h1>
    <div style="display: flex; justify-content: space-between;">
        <a href="{% url 'leitura' %}" style="font-size: 2em; text-decoration: none;">
            <i class="fas fa-arrow-left"></i>
        </a>
        <a href="{% url 'destaque' %}" style="font-size: 2em; text-decoration: none;">
            <i class="fas fa-arrow-right"></i>
        </a>
    </div>
</body>
</html>
