{% load static %}
{% load extra_filters %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hábitos Diários</title>
    <link rel="stylesheet" href="{% static 'css/habitos.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="habit-header">
        <a href="{% url 'avaliacao' %}" class="arrow-left">
            <i class="fas fa-arrow-left"></i>
        </a>
        <h1>Rate my day</h1>
        <a href="{% url 'sono' %}" class="arrow-right">
            <i class="fas fa-arrow-right"></i>
        </a>
    </div>

    <div class="container">
        <div class="habit-tracker">
            <div class="header">
                <div class="month-days">
                    {% for dia in dias %}
                        <div class="day">{{ dia }}</div>
                    {% endfor %}
                </div>
                <div class="activities">
                    {% for atividade in atividades %}
                        <div class="atividade-nome">{{ atividade }}</div>
                    {% endfor %}
                </div>
            </div>
            <svg id="habitTracker" width="1500" height="350">
                {% for x, y, dia, atividade in positions %}
                    <rect class="cell" x="{{ x }}" y="{{ y }}" width="30" height="30" data-dia="{{ dia }}" data-atividade="{{ atividade }}"></rect>
                {% endfor %}
            </svg>
        </div>
    </div>

    <script>
        const cells = document.querySelectorAll('.cell');

        cells.forEach(cell => {
            cell.addEventListener('click', function() {
                // Alternar entre completado e não completado
                const isCompleted = this.classList.toggle('completed');

                // Obter o dia e atividade clicados
                const dia = this.dataset.dia;
                const atividade = this.dataset.atividade;

                // Enviar progresso via AJAX para o Django
                fetch('/salvar-progresso/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'  // Inclua o CSRF token
                    },
                    body: JSON.stringify({
                        dia: dia,
                        atividade: atividade,
                        completado: isCompleted ? 1 : 0
                    })
                }).then(response => response.json())
                  .then(data => {
                      console.log(data);  // Sucesso
                  });
            });
        });
    </script>
</body>
</html>
