{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracker de Atividades</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Bem-vinda ao seu Tracker de Atividades Diárias!</h1>
    <div id="tracker-content">
        <!-- Aqui vamos adicionar o conteúdo das diferentes páginas do tracker -->
    </div>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
