body {
    margin: 0;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('/static/folhas.jpeg');
    overflow: hidden;
}

.rate-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px !important;
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 5rem;
    color: #ffa500;
    text-shadow: 5px 5px 8px #ff6600;
}

.arrow-left, .arrow-right {
    font-size: 3rem;
    color: #ffa500;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 30px;
}

.arrow-left:hover, .arrow-right:hover {
    color: #ff6600;
}

.day-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    flex-grow: 1;
    align-items: start;
}

.day {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 10px;
    font-weight: bold;
}

.day-number {
    font-size: 24px;
    margin-right: 10px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.day-input {
    width: 95%;
    height: 40px;
    background-color: transparent;
    color: white;
    border: none;
    padding: 5px;
    box-sizing: border-box;
    font-size: 1.5rem;
}

.day-input:focus {
    outline: none;
}

.modal {
    display: none; /* Oculto por padrão */
    position: fixed; /* Fica fixo na tela */
    z-index: 1000; /* Fica na frente de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Permite rolagem se necessário */
    background-color: rgba(0, 0, 0, 0.7); /* Fundo preto com opacidade */
}

.modal-content {
    background-color: #fff; /* Fundo branco */
    margin: 15% auto; /* Centraliza */
    padding: 20px; /* Espaçamento interno */
    border: 1px solid #888; /* Borda cinza */
    width: 300px; /* Largura do modal */
    border-radius: 10px; /* Cantos arredondados */
    text-align: center; /* Centraliza o texto */
}

.star {
    font-size: 2rem; /* Tamanho das estrelas */
    color: #ccc; /* Cor padrão das estrelas */
    cursor: pointer; /* Cursor em forma de ponteiro */
}

.star.selected {
    color: #ff9800; /* Cor das estrelas selecionadas */
}