body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habit-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px !important;
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 5rem;
    color: black;
    text-shadow: 5px 5px 8px #ff6600;
}

.arrow-left, .arrow-right {
    font-size: 3rem;
    color: #ffa500;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 30px;
}

.arrow-left:hover, .arrow-right:hover {
    color: #ff6600;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activities-container {
    display: flex;
    flex-direction: column; /* Coloca as atividades em coluna */
    margin-right: 20px; /* Espaço entre atividades e o habit tracker */
}

.activities {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.atividade-nome {
    margin: 5px 0;
}

.habit-tracker {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.month-days {
    display: flex;
    justify-content: center; /* Centraliza os dias na parte superior */
}

.day {
    width: 35px; /* Largura para alinhar com as células do SVG */
    text-align: center;
}

.cell { stroke: black; fill: white; }
        .cell.completed { fill: green; }