.habit-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px !important;
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 5rem;
    color: black;
    text-shadow: 5px 5px 8px #ff6600;
}

.arrow-left, .arrow-right {
    font-size: 3rem;
    color: #ffa500;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 30px;
}

.arrow-left:hover, .arrow-right:hover {
    color: #ff6600;
}

.cell { stroke: black; fill: white; }
        .cell.completed { fill: green; }